@import variables.sass

h1, h2, h3, h4, h5, h6
  a
    color: inherit
    &::before
      content: ""
    &::after
      content: ""

.zola-anchor
  color: $secondary-color
  &::before
    content: ""
  &::after
    content: ""

