.typingFrame {
    background-color: black;
    color: white;
    padding: 2vmax;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.console {
    border: #653181 3px solid;
    padding: 1vmax 2vmax;
}

.inputLine {
    display: flex;
}
