@font-face {
    font-family: "vistaserv";
    src: url("/fonts/vistaserv/regular.woff") format("woff");
}

@font-face {
    font-family: "vistaserv";
    src: url("/fonts/vistaserv/bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "vistaserv";
    src: url("/fonts/vistaserv/italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "vistaserv";
    src: url("/fonts/vistaserv/bolder.woff") format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "vistaserv";
    src: url("/fonts/vistaserv/superbold.woff") format("woff");
    font-weight: 900;
}
