nav {
  margin: 2.5rem 0 2.5rem 0;
  font-size: 1.125rem;
}

nav > ul {
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
}

hr {
  border-width: 0;
  border-top: 0.1rem dashed;
  margin-left: 2rem;
}

ul {
  list-style: square;
}

.rss {
  color: var(--secondary-color);
  font-size: 0.75rem;
}

#subtitle {
  font-size: 1.25rem;
  font-weight: initial;
}

#webrings {
  font-size: 0.75rem;
}

#webrings > section {
  margin-bottom: 2rem;
}
