nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    height: 4vmax;
    width: 100vw;
    color: white;
    background: #653181;
}

.logoSymbol {
    height: 3vmax;
    width: auto;
}

.linkText {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 1.5ex;
    font-weight: bold;
}

.linkText:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.linkText:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.dropButton {
    background-color: transparent;
    color: white;
    font-size: 1.5ex;
    font-weight: bold;
    height: 4vmax;
    padding: 0;
    border: none;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    top: 4vmax;
    position: fixed;
    background-color: #1A181C;
    min-width: 10vw;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent a {
    color: white;
    padding: 1vmax;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: #333;
}

.dropdown:hover .dropdownContent {
    display: block;
}
