@font-face {
  font-family: "JetBrainsMono";
  src: url("/Fonts/JetBrainsMono-1.0.2/web/woff2/JetBrainsMono-Regular.woff2") format("woff2"),
      url("/Fonts/JetBrainsMono-1.0.2/web/woff/JetBrainsMono-Regular.woff") format("woff"),
      url("/Fonts/JetBrainsMono-1.0.2/ttf/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrainsMono";
  font-weight: bold;
  src: url("/Fonts/JetBrainsMono-1.0.2/web/woff2/JetBrainsMono-Bold.woff2") format("woff2"),
  url("/Fonts/JetBrainsMono-1.0.2/web/woff/JetBrainsMono-Bold.woff") format("woff"),
  url("/Fonts/JetBrainsMono-1.0.2/ttf/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: url("/Fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-weight: bold;
  src: url("/Fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("/Fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url("/Fonts/Lato/Lato-Bold.ttf") format("truetype");
}

// Fonts
$text-font-family: "Merriweather", serif;
$heading-font-family: "Lato", sans-serif;
$code-font-family: "JetBrainsMono", monospace;

// Colors
$bg-color: #FAFAFA !default;
$fg-color: #212121 !default;
$alt-bg-color: #E0E0E0 !default;
$alt-fg-color: #000 !default;
$link-color: #653181 !default;

// Colors dark
$bg-color-dark: #212121 !default;
$fg-color-dark: #dadada !default;
$alt-bg-color-dark: #424242 !default;
$alt-fg-color-dark: #dadada !default;
$link-color-dark: #8E60A7 !default;
