{% extends "index.html" %}
{% block content %}
      <article>
        <section id="article-header">
          <h1><a href="{{ current_url }}">{{ page.title }}</a></h1>
          <small>
            {% if page.extra is containing("book") %}
            <i>{{ page.extra.book }}</i> by {{ page.extra.author }}. <br/>
            Finished on {{ page.extra.finished | date(format="%B %d, %Y") }}. <br/>
            Rating: {{ page.extra.rating }} <br/>
            {% else %}
            Published by <a href="{{ config.base_url }}">{{ config.title }}</a> on
            <time datetime="{{ page.date }}">{{ page.date | date(format="%B %d, %Y") }}</time>
            <br/>
            {% endif %}
            <a href="..">&lt; Back</a>
          </small>
        </section>
        {{ page.content | safe }}
      </article>
{% endblock content %}
