{% extends "base.html" %}

{% block posthead %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://google.com/article"
      },
      "headline": "{{ page.title }}",
      "image": [],
      "datePublished": "{{ page.date | date(format="%+") }}",
      "dateModified": "{{ page.date | date(format="%+") }}"{% if config.extra.author %},
      "author": {
        "@type": "Person",
        "name": "{{ config.extra.author }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ config.extra.author }}"{% if config.extra.icon %},
        "logo": {
          "@type": "ImageObject",
          "url": "{{ get_url(path=config.extra.icon) }}"
        }
        {% endif %}
      }
      {% endif %}
    }
  </script>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Blog",
          "item": "{{ get_url(path="@/posts/_index.md") }}"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{ page.title }}",
          "item": "{{ page.permalink }}"
        }
      ]
    }
  </script>
{% endblock %}

{% block content %}
  <div class="h-entry">
    <div>
      <a class="hidden u-url u-uid" href="{{ current_url }}" rel="me">FIGBERT</a>
      <a class="hidden p-author h-card" href="{{ config.base_url }}">FIGBERT</a>
      <h1 class="p-name">{{ page.title }}</h1>
      <small><time class="dt-published" datetime="{{ page.date }}">{{ page.date | date(format="%B %d, %Y") }}</time></small>
      {% if page.summary -%}
        <p class="hidden p-summary">{{ page.summary | safe | striptags }}</p>
      {% else %}
        <p class="hidden p-summary">{{ page.content | safe | striptags | truncate(length=300) }}</p>
      {%- endif %}
    </div>
    <div class="e-content">{{ page.content | safe }}</div>
  </div>
{% endblock content %}

