{% extends "index.html" %}
{% block content %}
      <article>
        <section id="article-header">
          <h1><a href="{{ current_url }}">{{ page.title }}</a></h1>
          <small>
            <i>{{ page.extra.book }}</i> by {{ page.extra.author }}. <br/>
            Finished on {{ page.extra.finished | date(format="%B %d, %Y") }}. <br/>
            Rating: {{ page.extra.rating }} <br/>
            <a href="..">&lt; Back</a>
          </small>
        </section>
        {{ page.content | safe }}
      </article>
{% endblock content %}
