{% extends "index.html" %}
{% block content %}
      {% if section.content %}
      {{ section.content | safe }}
      {% endif %}
      <ul id="section-list">
      {% for page in section.pages %}
        <li>
          <a href="{{ page.permalink }}" id="section-title">{{ page.extra.book }}</a>
          <div class="summary">
            By: {{ page.extra.author }} <br/>
            Finished: {{ page.extra.finished | date(format="%B %d, %Y") }} <br/>
            Rating: {{ page.extra.rating }}
          </div>
        </li>
      {% endfor %}
      </ul>
{% endblock content %}
