<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} :: {% endif %}{{ config.title }}</title>

    <link rel="stylesheet" href="{{ get_url(path="global.css") }}">
    <link rel="me" href="https://fosstodon.org/@FIGBERT">

    <link type="application/atom+xml" rel="alternate" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" title="{{ config.title }}">

    <meta name="description" content="{% if page.description %}{{ page.description | safe }}{% else %}{{ config.description }}{% endif %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title | safe }} :: {% endif %}{{ config.title }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description | safe }}{% else %}{{ config.description }}{% endif %}">
    <meta property="og:type" content="website">

    {% if current_url %}
    <meta property="og:url" content="{{ current_url }}">
    <link rel="canonical" href="{{ current_url }}">
    {% endif %}

    <link rel="icon" href="{{ get_url(path="icon.png") }}">
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ config.base_url }}">/</a>
        <a href="{{ get_url(path="@/posts/_index.md") }}">/posts</a>
        <a href="{{ get_url(path="@/projects/_index.md") }}">/projects</a>
        <a href="{{ get_url(path="@/reading/_index.md") }}">/reading</a>
        <a href="{{ get_url(path="@/ketamine.md") }}">/ketamine</a>
      </nav>
    </header>
    <main>
      {% block content %}{{ section.content | safe }}{% endblock content %}
    </main>
    <footer>
      <section>
        <a href="https://hotlinewebring.club/FIGBERT/previous" target="_blank" rel="noopener">&#x3C;</a> 
        <a href="https://hotlinewebring.club/" target="_blank" rel="noopener">Hotline Webring</a>
        <a href="https://hotlinewebring.club/FIGBERT/next" target="_blank" rel="noopener">&#x3E;</a>
      </section>
      <section>
        <a href="http://geekring.net/site/79/previous" target="_blank" rel="noopener">&#x3C;</a>
        <a href="https://geekring.net/" target="_blank" rel="noopener">geekring</a>
        <a href="http://geekring.net/site/79/next" target="_blank" rel="noopener">&#x3E;</a>
      </section>
      <section>✡︎</section>
    </footer>
  </body>
</html>
