{% extends "base.html" %}

{% block content %}
  {{ section.content | safe }}
  <section class="h-card hidden">
    <a class="p-name u-url u-uid" href="https://figbert.com/" rel="me">FIGBERT</a>
    <p class="p-note">
      I'm FIGBERT, an Israeli-American high school student with a passion for Computer Science and Engineering. I spend my time coding side-projects, doing schoolwork, and
      playing the occasional videogame. My current goal is to become a full-stack developer, proficient in everything from front-end design to cybersecurity.
    </p>
    <a class="u-email" href="mailto:figbert@figbert.com" rel="me">figbert@figbert.com</a>
    <a class="u-url" href="https://github.com/figbert" target="_blank" rel="me noopener noreferrer">Github</a>
    <a class="u-url" href="https://twitter.com/therealfigbert" target="_blank" rel="me noopener noreferrer">Twitter</a>
    <a class="u-url" href="https://fosstodon.org/@figbert" target="_blank" rel="me noopener noreferrer">Mastodon</a>
    <a class="u-url" href="https://www.reddit.com/user/therealFIGBERT" target="_blank" rel="me noopener noreferrer">Reddit</a>
    <a class="u-url" href="https://news.ycombinator.com/user?id=figbert" target="_blank" rel="me noopener noreferrer">Hacker News</a>
    <span class="p-category">Programming</span>
    <span class="p-category">Rust</span>
    <span class="p-category">Python</span>
    <span class="p-category">Javascript</span>
    <span class="p-category">Blogging</span>
    <span class="p-category">InfoSec</span>
    <span class="p-category">CyberSec</span>
    <span class="p-category">Open Source Software</span>
    <span class="p-category">Privacy</span>
    <span class="p-category">Web Design</span>
    <span class="p-category">Israel</span>
    <span class="p-category">Music</span>
  </section>
{% endblock content %}

