{% extends "index.html" %}
{% block content %}
      {% for _path in section.subsections %}
        {% set subsection = get_section(path=_path) %}
        {% if subsection.title %}
          <hr/>
          <p><strong>{{ subsection.title }}</strong></p>
        {% endif %}
        {% if subsection.content %}
          {{ subsection.content | safe }}
        {% endif %}
        {% for page in subsection.pages %}
          <ul id="section-list">
            <li>
              {% if subsection.extra is not containing("no_link") %}
                <a href="{{ page.permalink }}" id="section-title">{{ page.extra.book }}</a>
              {% else %}
                <span id="section-title">{{ page.extra.book }}</span>
              {% endif %}
              <div class="summary">
                By: {{ page.extra.author }} <br/>
                {% if page.extra is containing("finished") %}
                Finished: {{ page.extra.finished | date(format="%B %d, %Y") }} <br/>
                {% endif %}
                {% if page.extra is containing("rating") %}
                Rating: {{ page.extra.rating }}
                {% endif %}
              </div>
            </li>
          </ul>
        {% endfor %}
      {% endfor %}
{% endblock content %}
