{% extends "index.html" %}
{% block content %}
      {% if section.content %}
      {{ section.content | safe }}
      {% endif %}
      <ul class="section-list">
      {% for page in section.pages %}
        <li>
          {% if page.extra is containing("book") %}
            {% if page.extra is containing("no_link") %}
              <span>{{ page.extra.book }}</span>
            {% else %}
              <a href="{{ page.permalink }}">{{ page.extra.book }}</a>
            {% endif %}
          {% else  %}
            <a href="{{ page.permalink }}" class="section-title">{{ page.title }}</a>
          {% endif %}
          {% if page.extra is containing("book") %}
              <p class="summary">
                By: {{ page.extra.author }} <br/>
                {% if page.extra is containing("no_link") %}
                Finished: {{ page.extra.finished | date(format="%B %d, %Y") }} <br/>
                {% endif %}
                Rating: {{ page.extra.rating }}
              </p>
          {% else %}
            {% if page.summary %}
              <div class="summary">{{ page.summary | safe }}</div>
            {% else %}
              <p class="summary">{{ page.description }}</p>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
{% endblock content %}
