{% extends "index.html" %}
{% block content %}
      {% if section.content %}
      {{ section.content | safe }}
      {% endif %}
      <ul id="section-list">
      {% for page in section.pages %}
        <li>
          <a href="{{ page.permalink }}" id="section-title">{{ page.title }}</a>
          {% if page.summary %}
          <div class="summary">{{ page.summary | safe }}</div>
          {% else %}
          <p class="summary">{{ page.description }}</p>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
{% endblock content %}
